#_login_form {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 35%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4%;
    border: darkgray solid 1px;
    border-radius: 25px;
    display: block;
}
#_login_body {
    background-image: url("../images/login1.jpg");
    background-size: cover;
}
._customer_acc{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
._acc_img{
    max-height: 400px;
    height: auto;
}
._acc_btn{
    margin-top:1%;
}
#_brand_name
{
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: 100;
    color: white;
}
#_status_table{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
._modal_body_height{
    height: 5em;
}
._text_align_center{
    text-align: center;
}
._button_center{
    display:block; margin-left: auto; margin-right: auto;
}
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    border-top: solid 1px lightgray;
    color: gray;
}
#-nav-bar, ._nav-a {
    background-color: #7b1fa2;
    color: #ff5722 !important;
    padding: 0px 15px;
}
._nav-brand-logo {
    background-color: #7b1fa2;
    color: #ff5722 !important;
    padding: 0px 30px !important;
}